.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; // чтобы занимало большую часть экрана
  padding: 20px;
  box-sizing: border-box;
}

.card {
  width: 100%;
  max-width: 500px; // ограничиваем ширину на больших экранах
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

button {
  align-self: center;
}