.page-container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  min-height: 80vh;
  background: #f5f5f5;
}

.content {
  width: 100%;
  max-width: 1200px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.header-actions {
  text-align: right;
  margin-bottom: 30px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

.event-card {
  cursor: pointer;
  transition: all 0.3s ease;
  height: 100%;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  }
}

.spinner {
  display: block;
  margin: 60px auto;
}

.empty-text {
  text-align: center;
  font-size: 1.2rem;
  color:  #ffe3e3;
  margin-top: 60px;
}

.filters {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: end;
}

.filters mat-form-field {
  min-width: 200px;
}

.input_title {
  width: 100%;
  grid-column: span 3;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f7fa;
  color:  #ff0000;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h2, h1, h3 {
  color: #11161a;
  font-weight: 600;
  margin-bottom: 20px;
}

.page-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 32px;
  margin-bottom: 30px;
}

mat-card {
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  margin-bottom: 24px;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  }
}

mat-card-header {
  margin-bottom: 16px;
}

mat-card-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #8affef;
}

mat-card-subtitle {
  color:  #ffe3e3;
  font-weight: 500;
}

mat-card-content p {
  margin: 12px 0;
  font-size: 1rem;
}

strong {
  color:  #ffe3e3;
  font-weight: 600;
}

.description {
  color: #ffe3e3;
  font-style: italic;
  margin-bottom: 16px;
}

mat-card-actions {
  margin-top: 20px;
}

mat-card-content p {
  color: #ffe3e3;
  font-style: italic;
  margin-bottom: 16px;
}

.section-divider {
  position: relative;
  text-align: center;
  margin: 60px 0 40px;
}

.section-divider hr {
  border: none;
  border-top: 3px solid #e0e0e0;
  margin: 0;
}

.divider-text {
  background: #f5f7fa; /* цвет фона страницы */
  padding: 0 20px;
  color: #666;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}