.page-container {
    width: 100%;
    position: relative;
    height: 200px;
}

table {
    position: absolute;
    left: 0; top: 100px;
}

.name-page {
    position: absolute;
    top: 0px;
    left:auto;
    right:auto;
    color: #333;
    font-size: 1.8rem;
}